<div class="young-skins-panel gavias-skin-demo hidden-xs hidden-sm">
	<div class="control-panel"><i class="fa fa-cogs"></i></div>
	<div class="panel-skins-content">
		<div class="title">Color skins</div>
		<div class="text-center">
			<a class="item-color default" href="{{ base_url }}?color="></a>		
			<a class="item-color light_blue" href="{{ base_url }}?color=light_blue"></a>
			<a class="item-color blue" href="{{ base_url }}?color=blue"></a>
			<a class="item-color brown" href="{{ base_url }}?color=brown"></a>
			<a class="item-color green" href="{{ base_url }}?color=green"></a>
			<a class="item-color lilac" href="{{ base_url }}?color=lilac"></a>
			<a class="item-color lime_green" href="{{ base_url }}?color=lime_green"></a>
			<a class="item-color orange" href="{{ base_url }}?color=orange"></a>
			<a class="item-color pink" href="{{ base_url }}?color=pink"></a>
			<a class="item-color purple" href="{{ base_url }}?color=purple"></a>
			<a class="item-color red" href="{{ base_url }}?color=red"></a>
			<a class="item-color turquoise" href="{{ base_url }}?color=turquoise"></a>
			<a class="item-color turquoise2" href="{{ base_url }}?color=turquoise2"></a>
			<a class="item-color violet_red" href="{{ base_url }}?color=violet_red"></a>
			<a class="item-color violet_red2" href="{{ base_url }}?color=violet_red2"></a>
			<a class="item-color yellow" href="{{ base_url }}?color=yellow"></a>
		</div>
	</div>

	<div class="clearfix"></div>
</div>

