<header id="header">
  <div class="intro">
    <div class="overlay">
      <div id="corporate-slider">
        <div id="carousel-sr" class="carousel slide carousel-fade">
            <ol class="carousel-indicators">
              {% for result in view.result %}
                <li data-target="#carousel-sr" data-slide-to="{{ loop.index-1 }}" class="{% if ( loop.index == 1 )  %}active{% endif %}"></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for result in view.result %}
                  <div class="item {% if ( loop.index == 1 )  %}active{% endif %} slide{{loop.index}}" style="background-image:url('{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}')">
                    <div class="container">
                      <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <h3 data-animation="animated slideInLeft">{{ view.field.title.value(view.result[loop.index-1]) }}</h3>
                            <p data-animation="animated slideInLeft">{{ view.field.body.value(view.result[loop.index-1]) |striptags }}</p>
                          </div>
                          <div class="col-sm-12 col-md-6">
                          </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            <a class="left carousel-control" href="#carousel-sr" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-sr" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</header>
